[submodule "fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "OCmakeUtil"]
	path = deps/OCmakeUtil
	url = https://github.com/wsw364321644/OCmakeUtil.git
